<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="static/styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/303bd79ef7.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>

<body class="main-content">
    <header class="container header active" id="home">
        <div class="header-content">
            <div class="left-header">
                <div class="h-shape"></div>
                <div class="image">
                    <img src="static/img/EU1.png" alt="">
                </div>
            </div>
            <div class="right-header">
                <h1 class="name">
                    Hi, I'm <span>Ovidiu Stefan</span>
                    A Web Developer.
                </h1>
                <p>
                    Hello! I'm Ovidiu Pirvu, a dedicated Web Developer and Software Engineer with a passion for building
                    innovative and functional digital solutions.
                    I thrive on combining creativity and technical expertise to deliver websites and applications that
                    are not only visually stunning but also seamlessly functional.
                    My journey as a developer is driven by a love for problem-solving, attention to detail, and a
                    commitment to crafting exceptional user experiences.


                </p>
                <div class="btn-con">
                    <a href="../pdfs/Ovidiu Pirvu_CV 2024 english.pdf" class="main-btn" download>
                        <span class="btn-text">Download CV</span>
                        <span class="btn-icon"><i class="fas fa-download"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="container about" id="about">
            <div class="main-title">
                <h2>About <span>me</span><span class="bg-text"> </span></h2>
            </div>
            <div class="about-container">
                <div class="left-about">
                    <h4>Information About me</h4>
                    <p>
                        Creative and results-driven web developer with experience in Angular, Django, Python, and
                        WordPress.
                        Skilled in designing and deploying robust, scalable applications tailored to business needs.
                        Proficient in full-stack development, database management, and optimizing user interfaces for
                        seamless experiences.
                        Adapt at problem-solving and delivering high-quality, secure, and maintainable code.
                        Passionate about leveraging technology to solve real-world challenges.
                    </p>
                    <div class="btn-con">
                        <a href="#" class="main-btn">
                            <span class="btn-text">Download CV</span>
                            <span class="btn-icon"><i class="fas fa-download"></i></span>
                        </a>
                    </div>
                </div>
                <div class="right-about">
                    <div class="about-item">
                        <div class="abt-text">
                            <p class="large-text">10</p>
                            <p class="small-text"> Projects <br /> Completed</p>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="abt-text">
                            <p class="large-text">5</p>
                            <p class="small-text">Years of <br /> experience</p>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="abt-text">
                            <p class="large-text">4</p>
                            <p class="small-text">Full-Stack <br /> Applications Built</p>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="abt-text">
                            <p class="large-text">5000+</p>
                            <p class="small-text">Monthly Visitors <br /> on Websites</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Write your comments here
            <div class="about-stats">
                <h4 class="stat-title">My Skills</h4>
                <div class="progress-bars">
                    <div class="progress-bar">
                        <p class="prog-title">html5</p>
                        <div class="progress-con">
                            <p class="prog-text">80%</p>
                            <div class="progress">
                                <span class="html"></span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-bar">
                        <p class="prog-title">css3</p>
                        <div class="progress-con">
                            <p class="prog-text">95%</p>
                            <div class="progress">
                                <span class="css"></span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-bar">
                        <p class="prog-title">javascript</p>
                        <div class="progress-con">
                            <p class="prog-text">75%</p>
                            <div class="progress">
                                <span class="js"></span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-bar">
                        <p class="prog-title">ReactJS</p>
                        <div class="progress-con">
                            <p class="prog-text">75%</p>
                            <div class="progress">
                                <span class="react"></span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-bar">
                        <p class="prog-title">NodeJS</p>
                        <div class="progress-con">
                            <p class="prog-text">87%</p>
                            <div class="progress">
                                <span class="node"></span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-bar">
                        <p class="prog-title">Python</p>
                        <div class="progress-con">
                            <p class="prog-text">70%</p>
                            <div class="progress">
                                <span class="python"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         -->
            <h4 class="stat-title">My Timeline</h4>
            <div class="timeline">
                <div class="timeline-item">
                    <div class="tl-icon">
                        <i class="fas fa-briefcase"></i>
                    </div>
                    <p class="tl-duration">2018 - 2019</p>
                    <h5>Volunteering<span><br> - AIESEC Pitesti</span></h5>
                    <p>
                        Local Vice President.
                    </p>
                </div>
                <div class="timeline-item">
                    <div class="tl-icon">
                        <i class="fas fa-briefcase"></i>
                    </div>
                    <p class="tl-duration"> 2022 - present</p>
                    <h5>Web Developer
                        <span> - Novarion </span>
                    </h5>
                    <p>
                        Develop and deploy four full-stack projects leveraging Angular and Django on AWS:
                    </p>
                </div>
                <div class="timeline-item">
                    <div class="tl-icon">
                        <i class="fas fa-briefcase"></i>
                    </div>
                    <p class="tl-duration">2019-2020</p>
                    <h5>AM Support<span> - Endava Pitesti</span></h5>
                    <p>
                        Monitor and supervise job runs for global payment systems, ensuring smooth operations and timely
                        delivery.
                    </p>
                </div>
                <div class="timeline-item">



                    <p>
                        Task Management App: Centralized platform for task allocation with employee notifications,
                        improving team efficiency and accountability.
                    </p>
                    <p>
                        Recycling Formworks Platform: Listing system where users post second-hand formworks for sale,
                        enabling direct communication between buyers and sellers.
                    </p>
                    <p>
                        Tool Management System: RFID badge-based tool tracking system for seamless inventory control and
                        improved workplace efficiency.
                    </p>
                    <p>
                        Website for The Lake Home: A feature-rich site showcasing available apartments, blogs, and
                        projects. Enhanced UI/UX with Hotjar insights, achieving over 2,000 monthly visitors.
                    </p>
                </div>
                <div class="timeline-item">
                    <div class="tl-icon">
                        <i class="fas fa-briefcase"></i>
                    </div>
                    <p class="tl-duration">2021</p>
                    <h5>Team Leader<span> - Autonom</span></h5>
                    <p>
                        Orchestrate the operations of a 120-vehicle fleet distributed across four metropolitan areas,
                        skillfully coordinating car rental proposals, insurance sales, and vehicle replacement services
                        for lease partners.
                        Lead and inspire a dedicated team, fostering a collaborative environment to ensure peak
                        operational efficiency and effectiveness in all endeavors.

                    </p>
                </div>
                <div class="timeline-item">

                    <p>
                        WordPress Expertise: Design and manage various WordPress-based presentation websites, ensuring
                        responsiveness and modern design standards
                    </p>
                    <p>
                        Collaborate with cross-functional teams to refine workflows and deliver high-quality, scalable
                        solutions.
                    </p>
                    <p>
                        Optimize website performance, ensuring security and scalability through efficient database
                        handling.
                    </p>
                </div>
            </div>
        </section>
        <section class="container" id="portfolio">
            <div class="main-title">
                <h2>My <span>Portfolio</span><span class="bg-text">My Work</span></h2>
            </div>
            <p class="port-text">
                Here is some of my work that I've done in various programming languages.
                Every project in my portfolio was built entirely by me, encompassing all aspects from initial design to
                coding, backend development, testing, and deployment.
                I independently managed every detail to ensure seamless functionality, user-friendly design, and robust
                performance. This hands-on approach reflects my comprehensive skill set and dedication to delivering
                high-quality, fully customized solutions.
            </p>
            <div class="portfolios">
                <div class="portfolio-item">
                    <div class="image">
                        <img src="static/img/thelakehome.png" alt="">
                    </div>
                    <div class="hover-items">
                        <h3>The Lake Home</h3>
                        <div class="icons">
                            <a class="icon" id="lake-home-btn">
                                <div class="control" data-id="blogs">
                                    <span class="material-symbols-outlined">info</span>
                                </div>
                            </a>
                            <a class="icon" href="https://thelake.ro" target="_blank" rel="noopener noreferrer">
                                <span class="material-symbols-outlined">
                                    link
                                </span>
                            </a>

                        </div>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="image">
                        <img src="static/img/formwork.png" alt="">
                    </div>
                    <div class="hover-items">
                        <h3>Formwork Recycling</h3>
                        <div class="icons">
                            <a href="#" class="icon" id="formwork-app-btn">
                                <div class="control" data-id="blogs">
                                    <span class="material-symbols-outlined">info</span>
                                </div>
                            </a>

                            <a class="icon" href="https://cofraje.dmxconstruction.ro/" target="_blank"
                                rel="noopener noreferrer">
                                <span class="material-symbols-outlined">
                                    link
                                </span>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="image">
                        <img src="static/img/taskapp.png" alt="">
                    </div>
                    <div class="hover-items">
                        <h3>Task Management App </h3>
                        <div class="icons">
                            <a href="#" class="icon" id="task-app-btn">
                                <div class="control" data-id="blogs">
                                    <span class="material-symbols-outlined">info</span>
                                </div>
                            </a>


                        </div>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="image">
                        <img src="static/img/inventory2.png" alt="">
                    </div>
                    <div class="hover-items">
                        <h3>Tools&materials</h3>
                        <div class="icons">
                            <a href="#" class="icon" id="inventorybtn">
                                <div class="control" data-id="blogs">
                                    <span class="material-symbols-outlined">info</span>
                                </div>
                            </a>


                        </div>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="image">
                        <img src="static/img/novarion.png" alt="">
                    </div>
                    <div class="hover-items">
                        <h3>Novarion</h3>
                        <div class="icons">
                            <a href="#" class="icon" id="novarion-btn">
                                <div class="control" data-id="blogs">
                                    <span class="material-symbols-outlined">info</span>
                                </div>
                            </a>

                            <a class="icon" href="https://novarion.ro/" target="_blank" rel="noopener noreferrer">
                                <span class="material-symbols-outlined">
                                    link
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="image">
                        <img src="static/img/theriver.png" alt="">
                    </div>
                    <div class="hover-items">
                        <h3>The River Chalet</h3>
                        <div class="icons">
                            <a href="#" class="icon" id="the-river-btn">
                                <div class="control" data-id="blogs">
                                    <span class="material-symbols-outlined">info</span>
                                </div>
                            </a>

                            <a class="icon" href="https://www.theriver.ro/" target="_blank" rel="noopener noreferrer">
                                <span class="material-symbols-outlined">
                                    link
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- 
                <div class="portfolio-item">
                    <div class="image">
                        <img src="img/dmx.png" alt="">
                    </div>
                    
                    <div class="hover-items">
                        <h3>DMX Construction</h3>
                        <div class="icons">
                            <a href="#" class="icon"  id="dmx-btn">
                                <div class="control" data-id="blogs">
                                    <span class="material-symbols-outlined">info</span>
                                </div>
                            </a>
                            
                            <a class="icon" href="https://www.dmxconstruction.ro/" target="_blank" rel="noopener noreferrer">
                                <span class="material-symbols-outlined">
                                    link
                                </span>
                            </a>
                        </div>
                    </div>
                   
                </div>
                 -->
            </div>
        </section>
        <section class="container" id="blogs">
            <div class="blogs-content">
                <div class="main-title">
                    <a class="goback" data-id="portfolio">
                        <img src="../static/img/icon/back.png" alt="">
                    </a>
                    <h2>
                        <span id="main-text"> Formwork Recycling</span>
                        <span class="bg-text"></span>
                    </h2>
                    <br>
                    <p id="main-text-description1">
                        Designed and implemented a robust full-stack web application using Angular for the frontend and
                        Django for the backend, creating a seamless platform for users to log in, register, and manage
                        account recovery through secure email confirmation workflows. This project demonstrates
                        expertise in building scalable, user-friendly interfaces and integrating secure authentication
                        systems with advanced backend frameworks.
                    </p>
                    <br>
                    <img id="main-img" src="static/img/formwork.png" alt="">
                    <br>
                    <br>
                    <p id="main-text-description2">
                        Engineered a dynamic platform allowing users to list, browse, and manage formwork for recycling,
                        ensuring efficient communication between buyers and sellers. Integrated real-time notifications
                        for user activity, leveraging Angular s reactive features and Django s REST framework for
                        optimal data handling and user interaction.
                    </p>
                    <br>

                    <p id="main-text-description3">
                        Deployed the application on AWS, ensuring high availability, scalability, and reliability.
                        Implemented a robust manual update pipeline using GitHub, showcasing proficiency in version
                        control and maintaining server-side updates, aligning with industry best practices for
                        deployment and maintenance.
                    </p>
                    <br>
                    <p id="main-text-description4">
                        Delivered a user-centric, responsive application designed to function seamlessly across devices,
                        emphasizing intuitive navigation and efficient data handling. By combining Angular s state
                        management with Django s API development, this project highlights expertise in creating
                        end-to-end solutions that prioritize performance, security, and maintainability.
                    </p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <!--   VISIT WEBSITE BTN TO DO LATER
                    <div class="btn-con">
                        <a  class="main-btn2" Visit site>
                            <span class="btn-text">Visit site</span>
                            <span class="btn-icon"><span class="material-symbols-outlined">
                                link
                            </span></span>
                        </a>                    
                    </div>
-->

                </div>
                <!-- 
                <div class="blogs">
                    <div class="blog">
                        <img src="img/port6.jpg" alt="">
                        <div class="blog-text">
                            <h4>
                                How to Create Your Own Website
                            </h4>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                Doloribus natus voluptas, eos obcaecati recusandae amet?
                            </p>
                        </div>
                    </div>
                    <div class="blog">
                        <img src="img/blog1.jpg" alt="">
                        <div class="blog-text">
                            <h4>
                                How to Become an Expert in Web Design
                            </h4>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                Doloribus natus voluptas, eos obcaecati recusandae amet?
                            </p>
                        </div>
                    </div>
                    <div class="blog">
                        <img src="img/blog2.jpg" alt="">
                        <div class="blog-text">
                            <h4>
                                Become a Web Designer in 10 Days
                            </h4>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                Doloribus natus voluptas, eos obcaecati recusandae amet?
                            </p>
                        </div>
                    </div>
                    <div class="blog">
                        <img src="img/blog3.jpg" alt="">
                        <div class="blog-text">
                            <h4>
                                Debbuging made easy with Web Inspector
                            </h4>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                Doloribus natus voluptas, eos obcaecati recusandae amet?
                            </p>
                        </div>
                    </div>
                    <div class="blog">
                        <img src="img/port1.jpg" alt="">
                        <div class="blog-text">
                            <h4>
                                Get started with Web Design and UI Design
                            </h4>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                Doloribus natus voluptas, eos obcaecati recusandae amet?
                            </p>
                        </div>
                    </div>
                    <div class="blog">
                        <img src="img/port3.jpg" alt="">
                        <div class="blog-text">
                            <h4>
                                This is what you need to know about Web Design
                            </h4>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                Doloribus natus voluptas, eos obcaecati recusandae amet?
                            </p>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </section>
        <section class="container contact" id="contact">
            <div class="contact-container">
                <div class="main-title">
                    <h2>Contact <span>Me</span><span class="bg-text">Contact</span></h2>
                </div>
                <div class="contact-content-con">
                    <div class="left-contact">
                        <h4>Contact me here</h4>
                        <p>
                            Feel free to reach out—let's create something amazing together!
                        </p>
                        <div class="contact-info">

                            <div class="contact-item">
                                <div class="icon">
                                    <i class="fas fa-envelope"></i>
                                    <span>Email:</span>
                                </div>
                                <p>
                                    <span> pirvu177@gmail.com</span>
                                </p>
                            </div>

                            <div class="contact-item">
                                <div class="icon">
                                    <i class="fas fa-solid fa-phone"></i>
                                    <span>Mobile Number:</span>
                                </div>
                                <p>
                                    <span> +40759587024</span>
                                </p>
                            </div>
                            <div class="contact-item">
                                <div class="icon">
                                    <i class="fas fa-globe-africa"></i>
                                    <span>Languages:</span>
                                </div>
                                <p>
                                    <span> English, Portuguese, Romanian</span>
                                </p>
                            </div>
                        </div> 

                        <div class="right-contact">
                            {% if show_form %}
                            <form id="contactForm" name="sentMessage" action="/" method="post">
                                <div class="form-floating">
                                    <input class="form-control" id="name" name="name" type="text"
                                        placeholder="Name" required />
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="email" name="email" type="email"
                                        placeholder="Email" required />
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="phone" name="phone" type="tel"
                                        placeholder="Phone Number" required />
                                </div>
                                <div class="form-floating">
                                    <textarea class="form-control" id="message" name="message"
                                        placeholder="Enter your message here" required
                                        style="height: 12rem"></textarea>
                                </div>
                                <br />
                                <div class="btn-con">
                                    <button class="main-btn" id="submitButton" type="submit">
                                        <span class="btn-text">Submit</span>
                                        <span class="btn-icon"><i class="fas fa-paper-plane"></i></span>
                                    </button>
                                </div>
                                <!--<button class="btn btn-primary text-uppercase" id="submitButton" type="submit">
                                    Send
                                </button>-->
                            </form>
                            {% endif %}

                            {% if not show_form %}
                            <div id="successMessage"
                                style="display: none; text-align: center; font-size: 18px; color: green; margin-top: 20px;">
                                Your message was sent successfully!
                            </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
        </section>
    </main>

    <div class="controls">
        <div class="control active-btn" data-id="home">
            <i class="fas fa-home"></i>
        </div>
        <div class="control" data-id="about">
            <i class="fas fa-user"></i>
        </div>
        <div class="control" data-id="portfolio">
            <i class="fas fa-briefcase"></i>
        </div>

        <div class="control" data-id="contact">
            <i class="fas fa-envelope-open"></i>
        </div>
    </div>

    <script src="static/app.js"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3MS3FLLRNN"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-3MS3FLLRNN');
    </script>

</body>

</html>