<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/303bd79ef7.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>

<body class="main-content">
    <main>
        <section class="container active" id="blogs">
            <div class="blogs-content">
                <div class="main-title">
                    <a class="goback"  data-id="portfolio">
                        <img src="../static/img/icon/back.png" alt="">
                    </a>
                    <h2>
                        <span id="main-text"> Task App</span>
                        <span class="bg-text"></span>
                      </h2>
                      <br>

                      <div class="timeline">
                        <div class="timeline-item" id="about">
                            <h5 style="text-align: left; "> About</h5>

                            <p>

                            The <b>Task Management Application</b> is a full-stack platform designed to <b>streamline task assignment, tracking, and approval</b> within teams. Built with <b>Angular (frontend)</b> and <b>Django (backend)</b>, the app ensures a <b>secure and role-based user experience</b>, allowing administrators to create accounts, assign tasks, and manage permissions with fine-grained control.</p> <p>Users can <b>create, assign, and track tasks</b> in real time, ensuring transparency and efficiency in project workflows. The system supports task updates with <b>photo attachments</b>, enabling better progress verification and accountability. Tasks can be reassigned or updated dynamically, keeping the workflow adaptable to changing priorities.</p> 


                            </p>
                        </div>
                        <div class="timeline-item" id="tasks">
                            <h5 style="text-align: left;"> Technologies & Contributions </h5>
                            <p>
                                &#8226; Full-stack task management system using Angular & Django <br>
                                &#8226; Secure user authentication with role-based permissions <br>
                                &#8226; Intuitive dashboard for task assignment and tracking <br>
                                &#8226; Task completion verification with attached photo <br>
                                &#8226; Real-time notifications  <br>
                                &#8226; Organizational chart <br>
                                &#8226; Hosted the application on AWS for scalability and reliability <br>
                                &#8226; Version control and update workflows using GitHub <br>
                                &#8226; Optimized the database  <br>
                                &#8226; Responsive UI/UX <br>
                                

                            </p>
                        </div> 
                    </div>
                    
                    <img id="main-img" src="../static/img/formwork.png" alt="">
                    <br>
                    <br>
                    <p id="main-text-description1"> 
                        To improve <b>team collaboration and responsiveness</b>, the application features <b>real-time notifications</b>, alerting users about new assignments or completed tasks. An integrated <b>organizational chart</b> visually maps team structures, providing clear task delegation and management.</p> 
                    <br>
                        <p>  
                            The application also includes a <b>task history and audit log</b>, allowing administrators to review past assignments, track changes, and analyze team performance over time.</p>  
                            

                    <br>
                    <div class="images-wrapper">
                        <img src="../static/img/cofraje-signin.png" alt="">
                        <img src="../static/img/cofraje-profile.png" alt="">
                    </div>
                    <br> 

                    <p>The <b>Task Management App</b> was designed to improve <b>task delegation and progress tracking</b> across teams. Administrators can easily assign tasks, update descriptions, and monitor progress in one centralized system, reducing communication gaps and improving efficiency.</p> <p>One of the key features of the application is the <b>photo proof attachment system</b>, ensuring that completed tasks are visually verified before being marked as done. This feature adds an extra layer of accountability and quality control.</p> 
                    <br>
                    <p>The integration of <b>real-time notifications</b> keeps users informed about task updates instantly. Whether it’s a new task assignment, status change, or approval, users receive timely alerts, reducing delays and improving workflow coordination.</p> <p>Built with <b>scalability in mind</b>, the system is hosted on <b>AWS</b> and designed for seamless updates via <b>GitHub version control</b>. This ensures the application remains stable, secure, and adaptable to growing team needs while maintaining an intuitive and efficient user experience.</p> 

                    <br>

                    <div class="btn-con" style="justify-self: center;">
                        <a href="https://cofraje.dmxconstruction.ro/" class="main-btn" target="_blank" rel="noopener noreferrer">
                            <span class="btn-text">Visit website</span>
                            <span class="btn-icon"><i class="fas fa-globe"></i></span>
                        </a>                 
                    </div>
                </div>
                
 
            </div>
        </section>

    </main>


    <script src="app.js"></script>
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3MS3FLLRNN"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-3MS3FLLRNN');
    </script>

</body>
</html>