<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Thank You</title>
        <link rel="stylesheet" href="static/styles/styles.css">
    </head>
    <body>


        <header class="container header active" id="home">
            <a class="goback" data-id="portfolio" href="{{ url_for('home') }}">
                <span><img src="../static/img/icon/back.png" alt=""></span> Back
            </a>
            <div class="header-content">

                <div class="right-header">
                    <h1 class="name">
                        Thank <span>You!</span>
                    </h1>
                    <p>
                        Thank you for reaching out and taking the time to explore my portfolio. Your message has been received, and I appreciate your interest in my work. I’ll get back to you as soon as possible. In the meantime, feel free to browse around and discover more about my projects and creative journey.
<br>
<br>
                        Thanks again for your support!    
                    </p>

                </div>
                <div class="right-header">

                </div>
            </div>
        </header>
    </body>
</html>