<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/303bd79ef7.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>

<body class="main-content">
    <main>
        <section class="container active" id="blogs">
            <div class="blogs-content">
                <div class="main-title">
                    <div class="sameline">
                        <a class="goback" data-id="portfolio" href="{{ url_for('home') }}"><span><img src="../static/img/icon/back.png"
                                    alt=""></span> Back</a>

                        <h2 style="width: 100%; text-align: center !important;">
                            <span id="main-text"> Wordpress Websites</span>

                        </h2>
                    </div>
                </div>
                    <br>

                    <div class="timeline">
                        <div class="timeline-item" id="project-about">
                            <h5 style="text-align: left; "> About</h5>

                            <p>
                                With a passion for crafting engaging digital experiences, I specialize in WordPress website development. Over the years, I've built 10+ unique websites that blend modern design with robust functionality. Leveraging industry-leading tools like templately and Elementor, I bring client visions to life, ensuring each site is not only visually appealing but also user-friendly and performance-optimized.
                            </p>
                        </div>
                        <div class="timeline-item" id="tasks">
                            <h5 style="text-align: left;"> Technologies & Contributions </h5>
                            <p>
                                &#8226; Developed 10+ custom WordPress websites <br>
                                &#8226; Expert use of Templately and Elementor for cutting-edge design <br>
                                &#8226; Custom PHP plugin development for enhanced functionality <br>
                                &#8226; Implementation of responsive, mobile-first layouts <br>
                                &#8226; SEO optimization to boost online visibility <br>
                                &#8226; Integration with reliable hosting solutions for scalability <br>
                                &#8226; Ongoing support, maintenance, and performance improvements <br>
                                


                            </p>
                        </div>
                    </div>

                    <img id="main-img" src="../static/img/iaconi.png" alt="">
                    <br>
                    <br>
                    <p id="main-text-description1">
                        Every project is tailored to meet specific business need. I focus on responsive design, SEO best practices, and smooth user navigation to create websites that drive results and stand out in today’s competitive digital landscape.</p>
   
                    </p>


                    <br>
                    <div class="images-wrapper">
                        <img src="../static/img/xux2.png" alt="">
                        <img src="../static/img/theriver1.png" alt="">
                    </div>
                    <br>

                    <p>
                        By combining pre-built themes with custom-coded elements, I create flexible websites that evolve with your business needs. My approach ensures seamless content management and a secure, scalable digital presence. Whether updating an existing site or building a new platform from scratch, I’m dedicated to delivering projects that not only meet, but exceed expectations.

                    </p>

                    <br>

                    <div class="btn-con" style="justify-self: center;">
                        <a href="https://cofraje.dmxconstruction.ro/" class="main-btn" target="_blank"
                            rel="noopener noreferrer">
                            <span class="btn-text">Visit website</span>
                            <span class="btn-icon"><i class="fas fa-globe"></i></span>
                        </a>
                    </div>
                </div>


            </div>
        </section>

    </main>


    <script src="app.js"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3MS3FLLRNN"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-3MS3FLLRNN');
    </script>

</body>

</html>